<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Vida Suprema</h1>

      <div class="actions">
        <br>
        <a mat-raised-button
           [ngClass]="animateOnRouteEnter"
           target="_blank"
           href="https://github.com/LeoUrzua/VidaSuprema">
          <i class="fa fa-medium"></i> Github repository
        </a>
      </div>

      <div class="get-started" [ngClass]="animateOnRouteEnter">
        <h2>Que es este sitio?</h2>
          <p>
          Hola si estas visitando este portal debe ser por que alguna o ambas de las siguientes razones:
          </p>

          <p>
          1.- Eres una persona altamente productiva y buscas nuevas maneras de mejorar
          </p>

          <p>
          2.- Tienes algo de tiempo libre y quieres ver algo productivo para mejorar
          </p>

          <p>
          Y es que internet esta repleto de contenido para gente incompetente, justo como en el tiempo de nuestros
          antepasados lo estaba la tv.
          </p>

          <p>
          Aqui no encontraras memes estupidos o cosas de "la vida" del espectaculo
          </p>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="animateOnRouteEnter">
    <h2>Sucribete para recibir actualizaciones</h2>
    <!--TODO: place a form -->
    <!--<img [src]="imgVar" alt="powerfuldesc">-->
  </div>
</div>
