$supreme-black-primary: mat-palette($mat-grey, 700, 300, 900);
$supreme-black-accent: mat-palette($mat-blue-grey, 400);
$supreme-black-warn: mat-palette($mat-red, 500);

$supreme-black-theme: mat-dark-theme(
  $supreme-black-primary,
  $supreme-black-accent,
  $supreme-black-warn
);
