$supreme-primary: mat-palette($mat-indigo, 800, 300, 900);
$supreme-accent: mat-palette($mat-light-blue);
$supreme-warn: mat-palette($mat-pink, 600);

$supreme-theme: mat-light-theme($supreme-primary, $supreme-accent, $supreme-warn);
