$supreme-light-primary: mat-palette($mat-grey, 200, 500, 300);
$supreme-light-accent: mat-palette($mat-brown, 200);
$supreme-light-warn: mat-palette($mat-deep-orange, 200);

$supreme-light-theme: mat-light-theme(
  $supreme-light-primary,
  $supreme-light-accent,
  $supreme-light-warn
);
